.App {
  text-align: center;
  background-color: #efefef;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #dfdfdf;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #888;
  width: 70%;
  margin: auto;
  .MuiFormControl-root.MuiTextField-root{
    &:first-child{
      width: 30%;
      margin-right: 2rem;
    }
    &:nth-child(2) {
      margin-right: 2rem;
      .MuiOutlinedInput-root{
        border-radius: 0;
      }
    }
  }
  .MuiButton-root.MuiButton-contained{
    height: 58px;
    border-radius: 0;
    margin-right: 2rem;
  }
}
.list-wrapper{
  width: 70%;margin: auto;min-height: 60vh;
  background-color: #fff;
  h2{color: #777;
    padding: 10%;}
  .MuiList-root.MuiList-padding{
    flex-direction: column;
    height: 100%;
    &:first-child{
      li{
        background: #88bbe8;
      }
    }
    .MuiListItem-root{
      span{display: inline-block;width: 80%;}
      p{display: inline;}
    }
    .MuiDivider-root{margin-left: 15px;}
  }
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
